// Navigation Styles here
header {
    width: 100%;
    border-bottom: 2px dashed silver;

    text-align: center;
    color: @font-color;
    padding: 20px;

    section {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;

        .flex(space-between, center);

        nav {
            width: 49%;
            .flex(space-evenly, center);
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }

}